.about-section-1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 8em;
  /* background-image: url("../images/footer-bg-2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  margin-bottom: 2em;
}

.about-section-1-content p {
  font-family: var(--neu);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}

.about-section-1-content h2 {
  font-family: var(--neu);
  font-size: 52px;
  margin-bottom: 1em;
  line-height: 74px;
  letter-spacing: 0.8px;
}

.about-section-1-content h2 span {
  font-family: var(--kaushan);
  font-size: 62px;
  font-weight: 600;
}

.about-video {
  height: 80vh;
}

.about-video video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1em;
}

/*section-2-about*/

.section-2-about {
  padding: 2em;
}

.img-cont {
  height: 600px;
  width: 100%;
  position: sticky;
  top: 30px;
}

.img-cont img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  object-position: right;
}

.about-content {
  padding: 0em 4em;
}

.content-head {
  margin-bottom: 1em;
}

.content-head p {
  margin: 0;
  font-family: var(--neu);
  font-size: 20px;
  font-weight: 600;
}

.content-head h3 {
  font-family: var(--kaushan);
  font-weight: 600;
  font-size: 50px;
  margin-left: 22px;
  margin-bottom: 0.8em;
}

.content-para p {
  font-family: var(--neu);
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
}
