.contact-content-container {
  background-color: var(--color2);
  border-radius: 10px;
}

.contact-content-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5em;
  background-color: var(--color3);
  padding: 4em;
  border-radius: 10px 0px 0px 10px;
}

.contact-content-1 h2 {
  font-family: var(--kaushan);
  font-size: 72px;
  font-weight: 600;
  color: var(--color2);
  text-align: center;
}

.contact-content-1 p {
  font-family: var(--neu);
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 0;
  line-height: 30px;
  color: var(--color2) !important;
}

.contact-content-1 .social-icons i {
  background-color: var(--color2);
  color: var(--color3);
}
.contact-content-1 .social-icons i:hover {
  border: 1px solid var(--color2);
  background-color: transparent;
  color: var(--color2);
}

.contact-btns {
  display: flex;
  gap: 1em;
  align-items: center;
}

.contact-btns button {
  background-color: var(--color2);
  color: var(--color1);
  border: 1px solid var(--color2);
}

.contact-btns button:hover {
  border: 1px solid var(--color2);
  color: var(--color2);
}

.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4em;
  border-radius: 10px;
}

.contact-form form {
  width: 100%;
}

.contact-form form label {
  font-family: var(--neu);
  font-size: 15px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.contact-form form input {
  border-radius: 10px;
  border-color: var(--color5);
}

.contact-form form .btns {
  margin-top: 2em;
  width: 40%;
  display: flex;
  justify-content: center;
}

/*---------new-----------*/
body {
  /* background: linear-gradient(
    90deg,
    rgba(182, 254, 247, 0) 30%,
    rgba(254, 229, 183, 0.4) 85.07%,
    rgba(254, 217, 160, 0.4) 90%
  ); */
}

.contact-section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8em 0em;
  gap: 2.5em;
}

.contact-section1 h3 {
  font-family: var(--kaushan);
  font-weight: 600;
  font-size: 56px;
  text-align: center;
  letter-spacing: 0.8px;
  margin-bottom: 0.4em;
  color: var(--color1);
}

.contact-section1 p {
  font-family: var(--neu);
  font-size: 18px;
  text-align: center;
  line-height: 32px;
  padding: 0 2.5em;
  color: var(--color1);
}
